.Preview-empty {
  text-align: center;
  font-size: large;
}


.Preview p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  letter-spacing: -0.037rem;
  line-height: 1.75rem;
}

.Preview blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}
