.App {
  margin-bottom: 100px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-header h2 {
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-size: 24px;
}
.App-intro {
  text-align: center;
  font-size: large;
}

.App-editor {
  width: 50%;
  margin: auto;
}

.App-footer {
  color: #999;
  position: fixed;
  bottom: 0;
  background: #efefef;
  text-align: center;
  padding: 20px;
  left: 0;
  width: 100%;
  margin: auto;
}
